tensorflow==2.19.0
tensorflow-datasets==4.9.9
apache-beam==2.66.0
mlcroissant==1.0.21
matplotlib==3.10.5
jupyter==1.1.1
scikit-learn==1.7.1
antspynet @ git+https://github.com/ANTsX/ANTsPyNet@c23a9ef
SimpleITK==2.5.2
wandb==0.21.1